p {
    color: rgba(43, 226, 61, 0.775);
margin: 50px;   
background-color: brown
}
#lorem{
    color: rgba(255, 98, 0, 0.689);
    background-color: aqua;
    border-radius: 100%;
    border-bottom: 50%;
    font: message-box;
    border box-shadow: 40px;
}
nav{
 color: chocolate;
}
#third 
{
    background-color: rgb(222, 27, 27);
    border-top: 50%;
border-radius: 500%;
size: 100px;
height: 50px;
}
li {
    height: 40px;
    font-weight: 100;
    font-size: 100px;
}